{% extends 'base.html' %}

{% block content %}
    <h2>Menu - Choose a Data Structure</h2>
    <div class="menu">
        <a href="{{ url_for('main.array') }}">Arrays</a>
        <a href="{{ url_for('main.stack') }}">Stacks</a>
        <a href="{{ url_for('main.queue') }}">Queues</a>
        <a href="{{ url_for('main.binary_tree') }}">Binary Tree</a>
        <a href="{{ url_for('main.graph') }}">Graph</a>
        <a href="{{ url_for('main.double_linked_list') }}">Linked List</a>
        <a href="{{ url_for('main.quicksort_binary_search') }}">Sorting</a>
    </div>
{% endblock %}
